<launch>
  <node name="joy" pkg="joy" type="joy_node" />
  <node name="joy_to_twist" pkg="scarab_twist" type="joy_to_twist"
        output="screen" >
    <param name="wmax" value="1.0" />
    <param name="vmax" value="0.5" />
    <remap from="~/twist" to="cmd_vel" />
    <remap from="~/joy" to="joy" />
  </node>
</launch>
