<!-- Localize a scarab in levine using a prebuilt map -->
<launch>
  <!-- Name for the scarab namespace -->
  <arg name="name" />

  <master type="rosmaster_sd" auto="restart" />
  <param name="whitelist_topics" value="$(arg name)/amcl_pose,$(arg name)/particlecloud"/>
  <param name="whitelist_services" value=""/>
  <param name="whitelist_params" value=""/>

  <node pkg="map_server"
        name="map"
        type="map_server"
        output="screen"
        args="$(find upenn_maps)/maps/levine_towne_map.yaml"/>

  <group ns="$(arg name)">
    <param name="tf_prefix" value="$(arg name)"/>
    <include file="$(find radio_collect)/config/scarab.xml" />
  </group>
</launch>