<launch>
  <master type="rosmaster_sd" auto="restart" />
  <param name="whitelist_topics" value="" />
  <param name="whitelist_services" value="" />
  <param name="whitelist_params" value="" />

  <node pkg="map_server"
        name="map"
        type="map_server"
        output="screen"
        args="$(find upenn_maps)/maps/levine_towne_map.yaml"/>

  <node pkg="vis_nodes"
        name="vis_map"
        type="occupancy_grid"
        output="screen">
    <remap from="~topic" to="/map"/>
    <param name="mailbox" value="map"/>
    <param name="thickness" value="0.5"/>
  </node>

  <group ns="scarab34">
    <include file="$(find radio_collect)/config/vis-scarab.xml">
      <arg name="mailbox" value="robot1" />
    </include>
  </group>

  <group ns="scarab26">
    <include file="$(find radio_collect)/config/vis-scarab.xml">
      <arg name="mailbox" value="robot2" />
    </include>
  </group>


</launch>