*.vsk
.DS_Store
*~
*.pyc
*.o
*.so
*.dylib
_*.py
*.swp
.exrc
*.cfgc
*.gv
*.pdf
ROS_NOBUILD

.build_version

build
bin
lib

.svn

msg_gen
srv_gen

cpp
java
lisp
oct

data

*.sconsign.dblite
*.os

CMakeCache.txt
*.bag

*/docs/*.aux
*/docs/*.log
/docs/*.rel

Ogre.log

acroname/brainstem/*.d
acroname/brainstem/*.dp
acroname/brainstem/*.op
acroname/brainstem/aConsole/unix_aConsole_Data/i686/
acroname/brainstem/aExamples/aDataLogger/unix_aDataLogger_Data/i686/
acroname/brainstem/aExamples/aPPRKStub/unix_aPPRKStub_Data/i686/
acroname/brainstem/aExamples/aSimpleHTTP/unix_aSimpleHTTP_Data/i686/
acroname/brainstem/aExamples/aSimpleRange/unix_aSimpleRange_Data/i686/
acroname/brainstem/aExamples/aStub/unix_aStub_Data/i686/
acroname/brainstem/aGarcia/unix_aGarciaAgent_Data/i686/
acroname/brainstem/aGarcia/unix_aGarciaApp_Data/i686/
acroname/brainstem/aGarcia/unix_aGarciaTest_Data/i686/
acroname/brainstem/aGarcia/unix_aGarcia_Data/i686/
acroname/brainstem/aIO/unix_aIOTests_Data/i686/
acroname/brainstem/aIO/unix_aIO_Data/i686/
acroname/brainstem/aLeaf/unix_aLeaf_Data/i686/
acroname/brainstem/aPPRK/unix_aPPRK_Data/i686/
acroname/brainstem/aRobot/unix_aRobotAgent_Data/i686/
acroname/brainstem/aRobot/unix_aRobotApp_Data/i686/
acroname/brainstem/aRobot/unix_aRobotPackager_Data/i686/
acroname/brainstem/aRobot/unix_aRobotShell_Data/i686/
acroname/brainstem/aRobot/unix_aRobotTest_Data/i686/
acroname/brainstem/aRobot/unix_aRobot_Data/i686/
acroname/brainstem/aSteep/unix_aSteep_Data/i686/
acroname/brainstem/aSteepGen/unix_aSteepGen_Data/i686/
acroname/brainstem/aSteepOpt/unix_aSteepOpt_Data/i686/
acroname/brainstem/aStem/unix_aStem_Data/i686/
acroname/brainstem/aTEAvm/unix_aTEAvm_Data/i686/
acroname/brainstem/aUI/unix_aUI_Data/i686/

acroname/brainstem/aDebug/aUnix/i686/aConsole
acroname/brainstem/aDebug/aUnix/i686/aGarciaAgent
acroname/brainstem/aDebug/aUnix/i686/aGarciaApp
acroname/brainstem/aDebug/aUnix/i686/aGarciaTest
acroname/brainstem/aDebug/aUnix/i686/aIOTests
acroname/brainstem/aDebug/aUnix/i686/aRobotAgent
acroname/brainstem/aDebug/aUnix/i686/aRobotApp
acroname/brainstem/aDebug/aUnix/i686/aRobotPackager
acroname/brainstem/aDebug/aUnix/i686/aRobotShell
acroname/brainstem/aDebug/aUnix/i686/aRobotTest
acroname/brainstem/aDebug/aUnix/i686/aSimpleRange
acroname/brainstem/aDebug/aUnix/i686/aStub
acroname/brainstem/aRelease/aUnix/i686/aConsole
acroname/brainstem/aRelease/aUnix/i686/aGarciaAgent
acroname/brainstem/aRelease/aUnix/i686/aGarciaApp
acroname/brainstem/aRelease/aUnix/i686/aGarciaTest
acroname/brainstem/aRelease/aUnix/i686/aIOTests
acroname/brainstem/aRelease/aUnix/i686/aRobotAgent
acroname/brainstem/aRelease/aUnix/i686/aRobotApp
acroname/brainstem/aRelease/aUnix/i686/aRobotPackager
acroname/brainstem/aRelease/aUnix/i686/aRobotShell
acroname/brainstem/aRelease/aUnix/i686/aRobotTest
acroname/brainstem/aRelease/aUnix/i686/aSimpleRange
acroname/brainstem/aRelease/aUnix/i686/aStub
