<launch>
  <node pkg="map_server" 
	name="map" 
	type="map_server" 
	output="screen" 
	args="$(find scarab)/maps/levine_towne_map.yaml"/>

    <node pkg="kinematic_sim" 
          type="kinematic_sim" 
          name="KinematicSim"
          output="screen" 
          respawn="false">
    <param name="publish_freq" value="100"/>
    <param name="num_agents" value="1"/>

    <param name="agent0" value="scarab1"/> 
    <param name="initial0" value="-7.4 4.4 0.00"/>
  </node>

  <node pkg="laser_simulator" name="laser_simulator" type="laser_simulator"
        output="screen">
    <remap from="~map" to="/map"/>
    <remap from="~odom" to="/scarab1/odom"/>
    <!-- <remap from="~odom_array" to="/aggregator/odom_array"/> -->
    <rosparam file="$(find laser_simulator)/config/models.yaml"/>
    <rosparam file="$(find laser_simulator)/models/UTM_30.yaml"/>
    <param name="offset/x" value="0"/>
    <param name="offset/y" value="0"/>
    <param name="offset/z" value="0.2"/>
  </node>

  <node name="transformer" pkg="tf" type="static_transform_publisher"
        args="0 0 0.2 0 0 0 /scarab1/base laser 10" />
</launch>
