<config>
  <network>
    <address>127.0.0.1</address>
  </network>

  <vicon>
    <hostname>localhost</hostname>
    <port>800</port>
  </vicon>

  <subjects>
    <subject>
      <id>40</id>
      <name>Quadrotor40</name>
      <vsk>Quadrotor40.vsk</vsk>
      <xyz>-133.461 8.62343 -6.67902</xyz>
      <quat>-0.0652868 -0.704884 -0.0111487 0.706224</quat>
      <group>224.0.2.10</group>
      <port>10040</port>
    </subject>

    <subject>
      <id>41</id>
      <name>Quadrotor41</name>
      <vsk>Quadrotor41.vsk</vsk>
      <xyz>-123.868 7.81182 -7.77541</xyz>
      <quat>-0.707364 0.0251936 -0.705943 0.0254089</quat>
      <group>224.0.2.10</group>
      <port>10041</port>
    </subject>

    <subject>
      <id>42</id>
      <name>Quadrotor42</name>
      <vsk>Quadrotor42.vsk</vsk>
      <xyz>-74.9219 5.19209 -8.33105</xyz>
      <quat> -0.0793431 -0.702385 -0.0239888 0.706954</quat>
      <group>224.0.2.10</group>
      <port>10042</port>
    </subject>

    <subject>
      <id>43</id>
      <name>Quadrotor43</name>
      <vsk>Quadrotor43.vsk</vsk>
      <xyz>-137.672 -0.652536 -4.32795</xyz>
      <quat>-0.032107 -0.713187 0.0240145 0.699826</quat>
      <group>224.0.2.10</group>
      <port>10043</port>
    </subject>

    <subject>
      <id>44</id>
      <name>Quadrotor44</name>
      <vsk>Quadrotor44.vsk</vsk>
      <xyz>-116.77 9.38826 -6.94516</xyz>
      <quat> -0.0813478 -0.702525 -0.0264994 0.706498</quat>
      <group>224.0.2.10</group>
      <port>10044</port>
    </subject>

    <subject>
      <id>50</id>
      <name>Khepri</name>
      <vsk>khepri.vsk</vsk>
      <xyz>0 0 0</xyz>
      <quat>0 0.707 0 0.707</quat>
      <group>224.0.2.10</group>
      <port>10050</port>
      <track>1</track>
    </subject>

    <subject>
      <id>30</id>
      <name>RDK1</name>
      <vsk>RDK1.vsk</vsk>
      <xyz>0 0 0</xyz>
      <quat>0 0 0 1.0</quat>
      <group>224.0.2.10</group>
      <port>10030</port>
      <track>1</track>
    </subject>

    <subject>
      <id>31</id>
      <name>RDK2</name>
      <vsk>RDK2.vsk</vsk>
      <xyz>0 0 0</xyz>
      <quat>0 0 0 1.0</quat>
      <group>224.0.2.10</group>
      <port>10031</port>
      <track>1</track>
    </subject>

    <subject>
      <id>10</id>
      <name>platform</name>
      <vsk>platform.vsk</vsk>
      <xyz>0 0 0</xyz>
      <quat>0 0.707 0 0.707</quat>
      <group>224.0.2.10</group>
      <port>10010</port>
      <track>1</track>
    </subject>

    <subject>
      <id>34</id>
      <name>object</name>
      <vsk>object.vsk</vsk>
      <xyz>0 0 0</xyz>
      <quat>0 0 0 1.0</quat>
      <group>224.0.2.10</group>
      <port>10034</port>
      <track>1</track>
    </subject>

    <subject>
      <id>35</id>
      <name>scarab</name>
      <vsk>scarab.vsk</vsk>
      <xyz>0 0 0</xyz>
      <quat>0 0 0 1.0</quat>
      <group>224.0.2.10</group>
      <port>10035</port>
      <track>1</track>
    </subject>

    <subject>
      <id>36</id>
      <name>scarab2</name>
      <vsk>scarab2.vsk</vsk>
      <xyz>0 0 0</xyz>
      <quat>0 0 0 1.0</quat>
      <group>224.0.2.10</group>
      <port>10036</port>
      <track>1</track>
    </subject>

    <subject>
      <id>100</id>
      <name>QuadrotorCalib</name>
      <vsk>QuadrotorCalibDesignPositions.vsk</vsk>
      <xyz>0 0 0</xyz>
      <quat>0 0 0 1.0</quat>
      <group>224.0.2.10</group>
      <port>10100</port>
      <track>1</track>
    </subject>
    
  </subjects>
</config>
