<launch>
  <!-- Launch map server and amcl -->
  <arg name="init" default="false" />
  <include file="$(find scarab_launch)/scarab.launch" />
  
  <group ns="$(env ROS_HOSTNAME)" >
    <param name="tf_prefix" value="$(env ROS_HOSTNAME)" />

    <node name="map_server" pkg="map_server" type="map_server" output="screen"
          args="$(find upenn_maps)/maps/levine_towne_map.yaml">
      <param name="frame_id" value="/map" />
    </node>

    <node name="pose_stamped" pkg="scarab_launch" type="posestamped_node.py" />

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <param name="global_frame_id" value="/map" />
      <param name="base_frame_id" value="base" />
      <param name="odom_frame_id" value="odom" />

      <!-- <param name="gui_publish_rate" value="10.0" /> -->

      <param name="initial_pose_x" value="-7.4" if="$(arg init)"/>
      <param name="initial_pose_y" value="4.5"  if="$(arg init)"/>
      <param name="initial_pose_a" value="1.57" if="$(arg init)" />
      <param name="initial_cov_xx" value="0.3"  if="$(arg init)"/>
      <param name="initial_cov_yy" value="0.3"  if="$(arg init)"/>
      <param name="initial_cov_aa" value="0.25" if="$(arg init)"/>

      <param name="kld_err" value="0.01" />
      <param name="kld_z" value="0.99" />
      <param name="laser_lambda_short" value="0.1" />
      <param name="laser_likelihood_max_dist" value="2.0" />

      <param name="laser_max_beams" value="100" />
      <param name="laser_max_range" value="-1.0" />
      <param name="laser_min_range" value="-1.0" />
      <param name="laser_model_type" value="likelihood_field" />

      <param name="laser_sigma_hit" value="0.2" />
      <param name="laser_z_hit" value="0.5" />
      <param name="laser_z_max" value="0.05" />
      <param name="laser_z_rand" value="0.5" />
      <param name="laser_z_short" value="0.05" />

      <param name="max_particles" value="5000" />
      <param name="min_particles" value="500" />
      <param name="odom_alpha1" value="0.6" />  <!-- Rot noise from rot  -->
      <param name="odom_alpha2" value="0.5" />  <!-- Rot noise from trans  -->
      <param name="odom_alpha3" value="0.5" />  <!-- Trans noise from trans  -->
      <param name="odom_alpha4" value="1.0" />  <!-- Trans noise from rot  -->
      <param name="odom_frame_id" value="odom" />
      <param name="odom_model_type" value="diff" />
      <param name="recovery_alpha_fast" value="0.0" />
      <param name="recovery_alpha_slow" value="0.0" />
      <param name="resample_interval" value="1" />

      <param name="save_pose_rate" value="0.5" />
      <param name="transform_tolerance" value="0.1" />
      <param name="update_min_a" value="0.3" />
      <param name="update_min_d" value="0.25" />
    </node>
  </group>
</launch>
