<launch>
  <!-- <remap from="/tf" to="tf" /> -->
  <node pkg="gmapping" type="slam_gmapping" name="mapping"
        output="screen" >
    <remap from="scan" to="scan_throttle" />
    <remap from="map" to ="/map_hokuyo" />
    <param name="odom_frame" value="scarab/odom_laser" />
    <param name="base_frame" value="scarab/base_link" />
    <param name="map_frame" value="map_hokuyo" />
  </node>
</launch>
