<launch>
  <!-- Launch map server and amcl -->
  <arg name="init" default="false" />
  <include file="$(find scarab)/scarab.launch" />
  
  <group ns="$(env ROS_NAMESPACE)" >
    <remap from="/tf" to="tf" />
    <param name="tf_prefix" value="$(env ROS_NAMESPACE)" />

    <node name="map_server" pkg="map_server" type="map_server" output="screen"
          args="$(find scarab)/maps/levine-4.yaml">
      <param name="frame_id" value="/map" />
    </node>

    <node name="pose_stamped" pkg="scarab" type="posestamped_node.py" />

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <param name="global_frame_id" value="/map" />
      <param name="base_frame_id" value="base_link" />
      <param name="odom_frame_id" value="odom_laser" />

      <param name="initial_pose_x" value="0.0" if="$(arg init)"/>
      <param name="initial_pose_y" value="0.0"  if="$(arg init)"/>
      <param name="initial_pose_a" value="1.57" if="$(arg init)" />
      <param name="initial_cov_xx" value="0.3"  if="$(arg init)"/>
      <param name="initial_cov_yy" value="0.3"  if="$(arg init)"/>
      <param name="initial_cov_aa" value="0.25" if="$(arg init)"/>
    </node>
  </group>
</launch>
