<launch>
  <!-- Bring UTM30, battery monitor, diagnostics, and motors online

       Use robot_monitor to see diagnostics
  -->
  <arg name="diag_rate" default="0.4" />

  <!-- <node name="tf_throttle" pkg="tf_throttle" type="tf_throttle" -->
  <!--       output="screen" args="/$(env ROS_NAMESPACE)/tf 5 /tf" > -->
  <!--   <param name="republish_time" value="0.0" /> -->
  <!--   <param name="use_diff" value="false" /> -->
  <!--   <param name="angular_change_threshold" value="0.1" /> -->
  <!--   <param name="linear_change_threshold" value="0.3" /> -->
  <!-- </node> -->

  <!-- <remap from="/tf" to="tf" /> -->
  <node pkg="tf" type="static_transform_publisher" name="transformer"
        args="0.0 0.0 0.0 0.0 0.0 0.0 scarab/base_link scarab/laser 500" />

  <node name="laser" pkg="hokuyo_node" type="hokuyo_node" output="screen">
    <param name="cluster" value="1" />
    <param name="skip" value="1" />
    <param name="intensity" value="false" />
    <param name="min_ang" value="-2.2689" />
    <param name="max_ang" value="2.2689" />
    <param name="port" value="/dev/hokuyo" />
    <param name="frame_id" value="scarab/laser" />
    <remap from="/diagnostics" to="laser_diagnostics" />
  </node>
  <!-- <node name="laser_diagnostics" pkg="topic_tools" type="throttle" -->
  <!--       args="messages /$(env ROS_NAMESPACE)/laser_diagnostics $(arg diag_rate) /diagnostics" output="screen"/> -->
   <node name="laser_throttle" pkg="topic_tools" type="throttle"
         args="messages scan 5.0" />

  <!-- <node name="ibps" pkg="bb04" type="bb04_node"> -->
  <!--   <remap from="/diagnostics" to="battery_diagnostics" /> -->
  <!-- </node> -->
  <!-- <node name="battery_diagnostics" pkg="topic_tools" type="throttle" -->
  <!--       args="messages /$(env ROS_NAMESPACE)/battery_diagnostics $(arg diag_rate) /diagnostics "/> -->

  <node pkg="roboclaw" type="roboclaw_node" name="motor" clear_params="true">
    <param name="broadcast_tf" value="false" />
    <param name="pid_d" value="0.0" />
    <param name="pid_i" value="3.0" />
    <param name="pid_iclamp" value="300" />
  </node>
  <!-- <node name="odom_throttle" pkg="topic_tools" type="throttle" -->
  <!--       args="messages /$(env ROS_NAMESPACE)/odom_motor 2.0" /> -->

  <node name="laser_odom" pkg="laser_odom" type="laser_odom"
        output="screen" >
    <param name="debug" value="false" />
    <param name="base_frame" value="scarab/base_link" />
    <param name="odom_frame" value="scarab/odom_laser" />
    <rosparam>
      grid_resolution: 0.05
      sensor_sd: 0.02
      subsample: 1
      travel_distance: 0.2
      travel_angle: 0.034
      decay_duration: 200
      decay_step: 40
      range_x: 0.2
      range_y: 0.2
    </rosparam>
  </node>
</launch>
