<launch>
  <node pkg="urg_node"
        name="laser"
        type="urg_node"
        output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="type" value="utm"/>
    <param name="rate" value="40"/>
  </node>

<!--  <node pkg="vis_nodes"
        name="vis_laser"
        type="laser"
        output="screen">
    <remap from="~laser" to="/laser/scan"/>
    <param name="mailbox" value="utm"/>
  </node> -->
</launch>
