<?xml version="1.0"?>

<model>
  <name>Levine</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Ben Charrow</name>
    <email>bcharrow@seas.upenn.edu</email>
  </author>

  <description>
    The 4th floor of Levine Hall at the University of Pennsylvania.
  </description>
</model>
